<h2> Employee List</h2>
<div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="search" (keydown.enter)="searchForEmployees()"
        placeholder="Search this employee">
    <div class="input-group-append">
        <button class="btn btn-secondary" (click)="searchForEmployees()" type=" button">
            <i class="fa"> search </i>
        </button>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Email Id</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td> {{ employee.firstName }} </td>
            <td> {{ employee.lastName }} </td>
            <td> {{ employee.emailId }} </td>
            <td>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info"> Update</button>
                <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px">
                    Delete</button>
                <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">
                    View</button>
            </td>
        </tr>
    </tbody>
</table>